.logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 70%;
    width: auto;
}

.logo,
.title {
    cursor: default;
}

.description {
    font-weight: normal;
    margin-top: 25px;
}